.wrapper{
  width: 1024px;
  margin: 0 auto;
  min-height: 200px;
  position: relative;
}
.can-wrap{
  position: absolute;
  width: 100%;
  height: 100%;
}
.canvas{

}
p{
  display: inline-block;
  background: #fff;
  position: relative;
  z-index: 5;
}
p.logo{
  font-size: 30px;
  line-height: 37px;
}
p.big{
  max-width:80%;
  font-size:45px;
  line-height: 1.4;
  background: transparent;
}
p.smpl{
  font-size: 22px;
  line-height: 1.14;
}
.svg {
  width: 100%;
  height: 200px;
  display: none;
}
/*.svg .dot{
  fill:#888;
  cursor:pointer;
}
.svg .dot:hover{
  fill:aqua;
  stroke:yellow;
}*/
