#wrapper{
  width: 1024px;
  margin: 0 auto;
  height: 200px;
}
.svg {
  width: 100%;
  height: 200px;
  display: none;
}
.svg .dot{
  fill:#888;
  cursor:pointer;
}
.svg .dot:hover{
  fill:aqua;
  stroke:yellow;
}
